.button{
  -fx-background-color: #2596be;
  -fx-border: none;
  -fx-color: white;
  -fx-padding: 6px;
  -fx-text-align: center;
  -fx-text-decoration: none;
  -fx-display: inline-block;
  -fx-font-size: 14px;
  -fx-background-radius: 5px;
  -fx-font-weight: bold;

}

.button:hover{
-fx-background-color: #002b6b;
-fx-cursor: hand;

}

